fastapi[all]==0.108.0
uvicorn[standard]
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
asyncpg==0.29.0
SQLAlchemy==2.0.25
alembic==1.13.1
aioboto3==12.2.0
numpy==1.26.3
librosa==0.10.1
