fastapi[all]==0.110.0
uvicorn[standard]
pydantic
python-multipart==0.0.9
python-jose[cryptography]
passlib[bcrypt]
asyncpg==0.29.0
SQLAlchemy==2.0.25
alembic==1.13.1
aioboto3==12.2.0
numpy==1.26.3
aubio==0.4.9
python-ffmpeg==2.0.10
aiohttp==3.9.4
openai==1.14.0
pymorphy3==2.0.1
pymorphy3-dicts-ru